# Node modules
**/node_modules
.pnp.*
.pnpm-debug.log

# Build output
dist/
build/
lib/
*.log

# Storybook
.storybook-out/
storybook-static/

# Testing
coverage/
.vitest/
*.test.ts.snap

# Editor / OS
.DS_Store
Thumbs.db
*.swp

# VSCode
.vscode/

# Environment
.env
.env.*.local

# Turbo
turbo/node_modules
turbo/out/
.cache/
.out/

# Changesets
.changeset/*.md

# pnpm store
.pnpm-store

# Optional (if using local publish testing)
*.tgz

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ESLint / Prettier
eslintcache
.prettiercache

# IDEs
.idea/
*.iml
